@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


*{
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Patrick Hand, sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 480px;
  height: 600px;
  background:rgba(0, 0, 0, 0.424);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

/* Form */
form {
  width: 90%;
}

.form-group {
  height: 65px;
}

label {
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

button {
  cursor: pointer;
  color: white;
  background: rgb(46, 46, 46);
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 60%;
  font-family: Patrick Hand, sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-left: 80px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

button:hover {
  filter: brightness(80%);
}

button:focus {
  outline: none;
}

button:active{
  filter: brightness(80%);
  transform: translateY(3px);
}

.message-container {
  border: transparent;
  width: 100%;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  color:#fff;
}

.h3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}